body{
    margin: 0;
    height: 100%;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
}

html {
    height: 100%;
}

header{
    background: rgb(126, 241, 80);

    overflow: hidden;

    height: 80px;
}

header #eingeloggt_als{
    margin-top: 5px;
    margin-right: 5px;

    font-size: 16px;

    float: right;
}

header a{
    float: left;
    
    display: block;

    color: rgb(0, 119, 89);

    text-align: left;

    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 40px;
    padding-right: 100px;

    width: 110px;

    /*
    padding-left + padding-right + width = 250px (breite der navbar)
    bzw. 40px + 100px + 110px
    */

    text-decoration: none;
    font-size: 25px;

    transition: 0.5s;
}

header a:hover{
    color: rgb(124, 35, 0);
}

.side-nav{
    height: 100%;
    width: 0;

    position: fixed;
    top: 0;
    left: 0;

    z-index: 999;

    background-color: rgb(54, 255, 205);

    overflow-x: hidden;

    padding-top: 0px;

    transition: 0.4s;
}

.btn-close{
    font-size: 36px;
    padding-bottom: 19px;
    padding-top: 19px;
}

/* #active für die seite die grad offen ist */
.side-nav #active{
    box-shadow: 0px 0px 8px 1px rgba(24, 24, 24, 0.2);
    color: rgb(95, 27, 0);

    /* Link deaktivieren */
    cursor: default;
    pointer-events: none;
}

main{
    background: rgb(155, 80, 241);

    height: auto;
    min-height: 84%;

    /* Dispaly propertys */
    display: flex;
    flex-direction: column;

    position: relative;

    transition: 0.5s;
}

main .messageBox{
    position: fixed;
    bottom: -50px;

    width: 94%;
    height: auto;

    margin-bottom: 10px;
    margin-left: 3%;
    margin-right: 3%;

    text-align: center;

    background: rgb(116, 245, 105);

    box-shadow: 2px 5px 10px 1px rgba(24, 24, 24, 0.767);
    
    border-style: solid;
    border-radius: 5px;
    border-color: rgb(108, 228, 97);
    border-width: 1px;

    transition: 0.5s;
}

main.messageText{
    height: auto;
}

footer{
    background: rgb(79, 79, 79);
    color: rgb(0, 0, 0);

    box-shadow: 0px -1px 7px 1px rgba(24, 24, 24, 0.767);

    height: 80px;

    display: flex;
}

footer div{
    margin: auto;
    text-align: center;
}

/*  Eigenes CSS für den Knopf der die Sidebar öffnet
    Würde sonst dem CSS der Links in der Sidebar unterliegen */
#open-slide a{
    padding-right: 30px;
    height: 30px;
    width: 30px;
}

@media(min-width:568px){
    .open-slide{display:none}
    .btn-close{display:none}
    .side-nav{width:250px;margin-top:80px;box-shadow: 1px 5px 7px 1px rgba(24, 24, 24, 0.767);}
    .btn-close{font-size: 35px;}
    main .messageBox{
        width: 360px;
        margin-left: 260px;
        margin-right: auto;
    }
}